* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  background-color: #fafafa;
  font-family: "poppins", sans-serif;
}

.main-container {
  max-width: 1240px;
  padding: 30px 20px 30px 20px;
  margin: auto;
}

.steve {
  max-width: 30rem;
  max-height: 30rem;
  border-radius: 50%;
}

.header-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  width: 85%;
  margin: auto;
  padding: 60px 0px 100px 0px;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 8;
}

.contacts {
  padding: 3rem 0rem 3rem 0rem;
  width: 90%;
}

.contact-imgs {
  padding-right: 2rem;
  cursor: pointer;
}

.name {
  width: 90%;
  padding: 1rem 0rem 1rem 0rem;
}

.name h2 {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 3.3rem;
}

.blurb {
  font-size: 2rem;
  font-family: "poppins", sans-serif;
  font-weight: 300;
}

#posts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  max-width: 100%;
  border-top: 1px solid #757575;
  padding-top: 30px;
}

#post {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post-pic {
  width: 80%;
  height: 90%;
  margin: auto;
  margin-top: 9%;
  cursor: pointer;
}

.date {
  padding-top: 4%;
  padding-bottom: 4%;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #9b9b9b;
  margin: auto;
}

.footer {
  margin-top: 10rem;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0px 30px 0px;
  border-top: 1px solid black;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.socials img {
  padding-right: 2rem;
  min-height: 3rem;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright h3 {
  font-weight: 400;
  font-size: 1.5rem;
}

@media screen and (max-width: 1245px) {
  .steve {
    max-height: 30rem;
    max-width: 30rem;
  }
  .name {
    font-size: 3rem;
  }
  .blurb {
    font-size: 1.9rem;
  }
  .contacts,
  .blurb,
  .name {
    padding: 1rem 0rem 1rem 0rem;
  }
}

@media screen and (max-width: 930px) {
  .steve {
    max-width: 23rem;
    max-height: 23rem;
  }
  .contacts,
  .blurb,
  .name {
    padding: 1rem 0rem 1rem 0rem;
  }
  .name {
    font-size: 2.3rem;
  }
  .blurb {
    font-size: 1.5rem;
  }
  .header-section {
    padding: 60px 0px 70px 0px;
  }
  #posts {
    -ms-grid-columns: (2fr)[2];
        grid-template-columns: repeat(2, 2fr);
  }
}

@media screen and (max-width: 750px) {
  .steve {
    max-height: 20rem;
    max-width: 20rem;
  }
  .name {
    font-size: 1.9rem;
  }
  .blurb {
    font-size: 1.5rem;
  }
  .date {
    font-size: 1.5rem;
  }
  .header-section {
    padding: 60px 0px 40px 0px;
  }
  .socials img {
    padding-right: 2rem;
    min-height: 2.6rem;
  }
  .copyright h3 {
    font-size: 1.4rem;
  }
  .footer-wrapper {
    padding: 20px 0px 30px 0px;
  }
}

@media screen and (max-width: 630px) {
  .steve {
    display: none;
  }
  .header-right {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 8;
  }
}

@media screen and (max-width: 590px) {
  .steve {
    max-height: 17rem;
    max-width: 17rem;
  }
  .name {
    font-size: 1.7rem;
  }
  .blurb {
    font-size: 1.5rem;
  }
  .contacts,
  .blurb,
  .name {
    padding: 0.5rem 0rem 0.5rem 0rem;
  }
  .socials img {
    padding-right: 2rem;
    min-height: 2.4rem;
  }
  .copyright h3 {
    font-size: 1.2rem;
  }
  .footer-wrapper {
    padding: 20px 0px 30px 0px;
  }
}

@media screen and (max-width: 530px) {
  .steve {
    max-height: 17rem;
    max-width: 17rem;
  }
  .name h2 {
    font-size: 2.9rem;
  }
  .blurb {
    font-size: 1.4rem;
  }
  .contacts,
  .blurb,
  .name {
    padding: 0.5rem 0rem 0.5rem 0rem;
  }
  #posts {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .socials {
    margin-bottom: 1.5rem;
  }
  .copyright h3 {
    font-size: 1.3rem;
  }
  .header-right {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 8;
  }
}

@media screen and (max-width: 400px) {
  .name h2 {
    font-size: 2.2rem;
  }
  .blurb {
    font-size: 1.3rem;
  }
  .copyright h3 {
    font-size: 1.1rem;
  }
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.733);
  margin-top: -5px;
  -webkit-animation: zoom 0.3s ease-in-out;
          animation: zoom 0.3s ease-in-out;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.modal img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.closeBtn {
  color: rgba(255, 255, 255, 0.87);
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.closeBtn:hover {
  color: white;
}

@media screen and (max-width: 700px) {
  .modal img {
    width: 80%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*# sourceMappingURL=styles.css.map */