* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "poppins", sans-serif;
  // margin-top: 90px;
}

.container {
  position: relative;
  padding: 0px 20px 0px 20px;
  margin: auto;
  max-width: 1400px;
}

// Global styles end

// Nav Section

.navbar {
  height: 90px;
  background-color: white;
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin: auto;
  z-index: 99;
  box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.185);
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 30px 20px;
}

.logo {
  font-size: 2.3rem;
  font-weight: 500;
}

.nav-menu a {
  font-size: 1.8rem;
  text-decoration: none;
  color: black;
  padding: 15px;
}

#nav-button {
  background-color: #00608e;
  color: white;
  font-size: 1.6rem;
  padding: 10px 30px 10px 30px;
  margin-left: 30px;
  border-radius: 0.3rem;
}

// Hero Section

.hero-img {
  width: 100%;
  opacity: 0.9;
}

// Featured Listings Section

.featured-listings-title {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.featured-listings-title h1 {
  font-size: 3rem;
  font-weight: 400;
}

// Listings

.listing {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 30px;
  width: 100%;
}

.top-image1 {
  width: 100%;
}

.bottom-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
}

.bottom-right img,
.bottom-left img {
  width: 100%;
}

.listing-info {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  padding: 80px 0px 150px 0px;
}

.house-info {
  grid-column-start: 2;
  grid-column-end: 10;
}

.schedule-info {
  grid-column-start: 11;
  grid-column-end: 14;
}

.house-info h2 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.house-info p,
.schedule-info p {
  font-size: 1.8rem;
  font-weight: 300;
  padding-bottom: 1rem;
}

#schedule-button {
  background-color: #00608e;
  color: white;
  font-size: 1.6rem;
  font-weight: 300;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
  border-radius: 0.3rem;
}

.bedrooms {
  margin-bottom: 2rem;
}

// Email Section

.email {
  background-color: #00608e;
  padding: 180px 0px 180px 0px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-wrapper input {
  padding: 2rem;
  margin: 0.5rem;
  width: 270px;
}

.email-button {
  padding: 2rem;
  width: 120px;
  font-size: 1.5rem;
  border: none;
  color: black;
  cursor: pointer;
  background-color: white;
  margin-left: 0.5rem;
}

::placeholder {
  font-size: 1.5rem;
  color: black;
  opacity: 0.5;
}

.follow {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 300;
  color: white;
  padding: 5rem;
}
