* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Azeret Mono", monospace;
  // font-family: "Caveat Brush", cursive;
  // font-family: "Poppins", sans-serif;
}
